<div id="sidebar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <h3></h3>
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li><a ng-href="#/">Главная<i class="fa fa-home fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/employees/">Сотрудники<i class="fa fa-users fa-fw pull-right"></i></a></li>
            <li class="nav-divider"></li>
            <li><a ng-href="#/employees/add">Добавить<i class="fa fa-plus-circle fa-fw pull-right"></i></a></li>
        </ul>
    </div>
</div>